    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre</h2>
                <p>Miguel Augusto nasceu em 1994, e escreve desde que se conhece por gente. Suas temáticas principais são queer/LGBTQ, marginalidade e violência. Atualmente mora no interior do estado de São Paulo e gosta de cachorros, livros longos e chás incomuns.</p>
                <p>Você pode ler mais sobre no <a href=http://teratomaquia.dreamwidth.org>blog</a> e conhecer alguns de seus escritos no <a href=http://wattpad.com/teratomaquia>Wattpad</a>.</p>
            </div>
        </div>
    </section>
